{
  "extends": [
    "prettier",
    "eslint:recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "JSX": true,
    "React": true
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "@typescript-eslint/camelcase": ["off"],
    "@typescript-eslint/no-non-null-assertion": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/interface-name-prefix": ["off"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-unused-expressions": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "@typescript-eslint/no-use-before-define": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "import/extensions": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "arrow-parens": ["off"],
    "comma-dangle": ["error", "always-multiline"],
    "implicit-arrow-linebreak": "off",
    "indent": ["off"],
    "max-len": ["error", 120],
    "no-async-promise-executor": ["off"],
    "no-empty-pattern": ["off"],
    "no-undef": ["error"],
    "no-var": ["error"],
    "object-curly-spacing": ["error", "always"],
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "no-prototype-builtins": ["off"],
    "semi": ["error", "always"],
    "sort-keys": ["off"],
    "space-before-function-paren": ["off"],
    "spaced-comment": ["off"]
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off",
        "react/jsx-filename-extension": "off"
      }
    }
  ]
}
